@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
$background-color: #0B1522;
$primary-blue: #2E5385;
$primary-blue-light: #2e5485;
$white: #fff;

$primary-font: 'Rubik', sans-serif;

body{
    background-color: $background-color;
    color: #fff
}

header{   
    .logo {
        height: 6rem;
        padding-top: 2rem;
        margin-bottom: 1rem;
        max-width: 1400px;
        width: 100%;
        animation: logo-spin 3s;
    }
    form{
        display: flex;
        gap: .3rem;
        justify-items: baseline;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        
        .search-bar{
            height: 2.5rem;
            width: 100%;
            padding-left: 1rem;

            border: 1px solid transparent;
            border-radius: 5px;

            transition: border-color .3s ease;
            font-family: $primary-font;
            
            &::placeholder{
                color: #2e5485;
                opacity: .7;
            }

            &:focus{
                border-color: $primary-blue;
                color: $primary-blue;
            }
        }
        .search-btn{
            height: 2.7rem;
            background-color: $white;
            color: $primary-blue;
            border: none;
            border-radius: 5px;
            font-size: 1.2rem;
            font-family: 'Rubik', sans-serif;
            padding: 10px 10px;
        }
    }

}

@keyframes logo-spin {
    0% {
      transform: scale(0);
      filter: none;
    }
    45% {
      transform: scale(1);
      filter: drop-shadow(0 0 2em #ffffffaa);
    }
    100% {
      filter: none;
  
    }
  
  }
article{
    width: 100px;
    img{
        margin: 0 auto;
        height: 24rem;
      }
}