@import 'layout';
@import 'bookcard';

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$background-color: #0B1522;
$primary-blue: #2E5385;
$primary-blue-light: #4883D3;
$secondary-white: #fff;

$primary-font: 'Rubik', sans-serif;
$max-size: 1000px;

/* Fixed text styles */
p, h1, h2, h3, span, a, button{font-family: $primary-font;}
h1, h2, a{font-weight: 700;}
p, button{font-weight: 500;}
span{font-weight: 450;}



body{
    background-color: $background-color;
    color: $secondary-white;
    margin-top: 0;
    padding-top: 0;
}

main{
    width: 100%;
    margin: 100px 0;
    .search-info-section{
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      button{
        padding: 5px 10px;
        height: 2rem;
      }
    }
}

footer{
    p{
        text-align: center;
    }
    a{
      color: $secondary-white;
      font-weight: 500;
    }
}
@keyframes logo-spin {
    0% {
      transform: scale(0);
      filter: none;
    }
    45% {
      transform: scale(1);
      filter: drop-shadow(0 0 2em #ffffffaa);
    }
    100% {
      filter: none;
  
    }
  
  }

  @keyframes fade-in {
    0% {
      transform: scale(0);
      
    }
    100% {
      transform: scale(1);
     
    }
   
  
  }
